body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timer-container {
    text-align: center;
    padding: 13px;
    display: flex;
    flex-direction: column;
}

#timer {
    font-size: 9em;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 7em;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007BFF;
    width: 100%;
}

button:active {
    background-color: #0056b3;
}






